In [1]:
import pandas as pd
import numpy as np

In [2]:
sb2021=pd.read_csv('startbucks.csv')
sb2021

#Nov 2021 Dataset 
# source: https://www.kaggle.com/datasets/kukuroo3/starbucks-locations-worldwide-2021-version

,Unnamed: 0,storeNumber,countryCode,ownershipTypeCode,schedule,slug,latitude,longitude,streetAddressLine1,streetAddressLine2,streetAddressLine3,city,countrySubdivisionCode,postalCode,currentTimeOffset,windowsTimeZoneId,olsonTimeZoneId
0,0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Kowloon,NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
1,1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin","Shopping Centre, Wong Tai Sin, Kowloon",NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
2,2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638","Prince Edward Road East,",NaN,Kowloon,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
3,3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,NaN,NaN,香港,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
4,4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit","1 Trademart Drive, Kowloon Bay",NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28284,28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",NaN,NaN,Hattiesburg,MS,39406,-300,Central Standard Time,GMT-06:00 America/Chicago
28285,28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,NaN,NaN,Ada,OK,74820,-300,Central Standard Time,GMT-06:00 America/Chicago
28286,28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",B,NaN,Waycross,GA,31501,-240,Eastern Standard Time,GMT-05:00 America/New_York
28287,28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,NaN,NaN,Waycross,GA,315011949,-240,Eastern Standard Time,GMT-05:00 America/New_York
28288,28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,NaN,NaN,Hartsville,SC,29550,-240,Eastern Standard Time,GMT-05:00 America/New_York

In [3]:
#lowercase all column titles
lower = []
for i in sb2021.columns:
        lower.append(i.lower())
sb2021.columns = lower

sb2021

,unnamed: 0,storenumber,countrycode,ownershiptypecode,schedule,slug,latitude,longitude,streetaddressline1,streetaddressline2,streetaddressline3,city,countrysubdivisioncode,postalcode,currenttimeoffset,windowstimezoneid,olsontimezoneid
0,0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Kowloon,NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
1,1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin","Shopping Centre, Wong Tai Sin, Kowloon",NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
2,2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638","Prince Edward Road East,",NaN,Kowloon,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
3,3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,NaN,NaN,香港,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
4,4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit","1 Trademart Drive, Kowloon Bay",NaN,Hong Kong,91,NaN,480,China Standard Time,GMT+08:00 Asia/Hong_Kong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28284,28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",NaN,NaN,Hattiesburg,MS,39406,-300,Central Standard Time,GMT-06:00 America/Chicago
28285,28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,NaN,NaN,Ada,OK,74820,-300,Central Standard Time,GMT-06:00 America/Chicago
28286,28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",B,NaN,Waycross,GA,31501,-240,Eastern Standard Time,GMT-05:00 America/New_York
28287,28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,NaN,NaN,Waycross,GA,315011949,-240,Eastern Standard Time,GMT-05:00 America/New_York
28288,28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,NaN,NaN,Hartsville,SC,29550,-240,Eastern Standard Time,GMT-05:00 America/New_York

In [4]:
sb2021.isnull().sum().sum()
#wow that's a lot of NaNs

49364

In [6]:
percent_missing = sb2021.isnull().sum() * 100 / len(sb2021)
percent_missing

#schedule, street address line 2 and 3, postal code 
#most or all of these could be dropped, giving me same information as latitude and longitude right?

unnamed: 0                 0.000000
storenumber                0.000000
countrycode                0.000000
ownershiptypecode          0.000000
schedule                  17.975185
slug                       0.000000
latitude                   0.000000
longitude                  0.000000
streetaddressline1         0.003535
streetaddressline2        71.840645
streetaddressline3        81.844533
city                       0.003535
countrysubdivisioncode     0.000000
postalcode                 2.831489
currenttimeoffset          0.000000
windowstimezoneid          0.000000
olsontimezoneid            0.000000
dtype: float64

In [ ]:
#Change column names for specific changes
    sb2021.rename(columns = {'old_col1':'new_col1', 'old_col2':'new_col2'}, inplace = True)

In [12]:
sb2021['schedule'][0]
#so schedule is a dictionary? 
#and looks like "Today" happens to be Tuesday

"[{'dayName': 'Today', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Tomorrow', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Thursday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Friday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Saturday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Sunday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}, {'dayName': 'Monday', 'hours': '8:30 AM to 10:30 PM', 'open': True, 'holiday': ''}]"

In [15]:
sb2021.columns

Index(['unnamed: 0', 'storenumber', 'countrycode', 'ownershiptypecode',
       'schedule', 'slug', 'latitude', 'longitude', 'streetaddressline1',
       'streetaddressline2', 'streetaddressline3', 'city',
       'countrysubdivisioncode', 'postalcode', 'currenttimeoffset',
       'windowstimezoneid', 'olsontimezoneid'],
      dtype='object')

In [16]:
#drop columns for NaNs/unnecessary information

sb2021_drop = sb2021.drop(['unnamed: 0','streetaddressline2', 'streetaddressline3','countrysubdivisioncode', 'currenttimeoffset', 'windowstimezoneid', 'olsontimezoneid'], axis=1)
sb2021_drop

,storenumber,countrycode,ownershiptypecode,schedule,slug,latitude,longitude,streetaddressline1,city,postalcode
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong,NaN
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong,NaN
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638",Kowloon,NaN
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,香港,NaN
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong,NaN
...,...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",Hattiesburg,39406
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,Ada,74820
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",Waycross,31501
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,Waycross,315011949
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,Hartsville,29550

In [17]:
sb2021_drop.columns

Index(['storenumber', 'countrycode', 'ownershiptypecode', 'schedule', 'slug',
       'latitude', 'longitude', 'streetaddressline1', 'city', 'postalcode'],
      dtype='object')

In [26]:
#Change column names for specific changes
sb2021_drop.rename(columns = {'storenumber':'store_number', 'country_code':'country', 'ownershiptypecode':'ownership_type', 'streetaddressline1':'address', 'postalcode': 'zip_code', 'schedule': 'open_hours'}, inplace = True)
sb2021_drop

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city,zip_code
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong,NaN
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong,NaN
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638",Kowloon,NaN
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,香港,NaN
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong,NaN
...,...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",Hattiesburg,39406
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,Ada,74820
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",Waycross,31501
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,Waycross,315011949
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,Hartsville,29550

In [27]:
sb2021_drop

percent_missing = sb2021_drop.isnull().sum() * 100 / len(sb2021)
percent_missing

store_number       0.000000
country            0.000000
ownership_type     0.000000
open_hours        17.975185
slug               0.000000
latitude           0.000000
longitude          0.000000
address            0.003535
city               0.003535
zip_code           2.831489
dtype: float64

In [34]:
sb21 = sb2021_drop  #renaming dataframe after dropping columns

In [35]:
#first deal with NaNs in the schedule column (18% don't show open hours)

hours_NaN = sb21[sb21['open_hours'].isna()]   
hours_NaN

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city,zip_code
13,57658-291775,HK,LS,NaN,mapletree-bay-point-hong-kong-shop-g-01-g-f-ma...,22.315382,114.217050,"Shop G01, G/F, Mapletree Bay Point",Hong Kong,NaN
20,57118-291147,HK,LS,NaN,two-harbour-square-shop-7-g-f-two-harbour-squa...,22.310027,114.220882,"Shop 7, G/F, Two Harbour Square",Hong Kong,NaN
29,54743-286011,HK,LS,NaN,hung-hom-station-shop-no-huhr-1-m-l-hung-hom-s...,22.303007,114.181570,"Shop No.HUHR1, M/L, Hung Hom Station",Hong Kong,NaN
38,53722-284724,HK,LS,NaN,nam-cheong-station-shop-g-13-g-f-nam-cheong-st...,22.326917,114.153605,"Shop G13, G/F, Nam Cheong Station",Hong Kong,NaN
41,59390-293624,HK,LS,NaN,harbour-north-shop-g-20-g-f-harbour-north-hong...,22.292995,114.199348,"Shop G20, G/F, Harbour North",Hong Kong,NaN
...,...,...,...,...,...,...,...,...,...,...
28242,26291-235224,JP,CO,NaN,aeon-mall-asahikawa-eki-mae-7-2-5-miyashitador...,43.764304,142.357972,7-2-5 Miyashitadori,Asahikawa,070-0030
28243,59730-293558,JP,CO,NaN,asahikawa-kitasaito-1-1-miyamae-2-jo-1-chome-a...,43.761084,142.361242,1-1 Miyamae 2-jo 1-chome,Asahikawa,078-8392
28244,62492-295537,JP,CO,NaN,asahikawa-taisetsu-dori-4-491-2-taisetsudori-a...,43.777491,142.385660,4-491-2 Taisetsudori,Asahikawa,070-0010
28245,31568-111246,JP,CO,NaN,asahikawa-medical-college-hospital-1-1-midorig...,43.729829,142.384410,1-1 Midorigaoka-higashi 2jo 1-chome,Asahikawa,078-8510
28246,47076-251782,JP,CO,NaN,asahikawa-toko-2-6-toko-13-jo-6-chome-asahikaw...,43.742635,142.407044,2-6 Toko 13-jo 6-chome,Asahikawa,078-8353

In [36]:
hours_NaN['country'].value_counts()

JP    1660
KR    1227
TW     504
ID     290
SA     210
MY     162
SG     150
TH     107
KW      86
AE      84
MX      78
US      74
PH      57
QA      39
TR      37
RO      34
CN      34
LB      31
GR      28
BH      27
HK      24
JO      21
HU      16
CA      13
MO      12
BS      12
BG      11
OM      10
SV       7
GB       6
PE       6
ES       4
AW       4
FR       4
PT       3
RU       3
GT       3
BE       2
SK       1
NL       1
PL       1
BN       1
IE       1
Name: country, dtype: int64

In [32]:
# i want to count the number of stores that are in each country 

sb21['country'].value_counts() 
#100% of stores in SG (Singapore) don't show hours 
#most of the stores in Japan, South Korea, Taiwan, Indonesia, Saudi Arabia, Qatar don't show their hours

#I still would like to compare open hours, but maybe should only do it between US and Europe, or just leave out Asia altogether

US    15003
CN     2665
JP     1665
KR     1493
CA     1219
GB      975
MX      612
TW      507
TR      474
ID      422
PH      396
TH      388
MY      317
SA      250
AE      220
KW      181
HK      173
SG      150
AR      111
PE       96
FR       94
ES       91
RU       88
NL       69
PL       62
IE       52
QA       46
LB       43
CZ       40
BH       39
RO       34
GR       32
HU       31
JO       30
BE       30
DE       29
NZ       26
MO       20
AT       17
OM       17
SV       15
BS       13
PT       13
BG       11
GT       10
CL        8
SK        6
AW        5
BN        1
Name: country, dtype: int64

In [46]:
#wanting to look at the hours at the Japan stores that DO have their hours posted
df2 = sb21[sb21['country']=='JP']
df2= df2.dropna(subset=['open_hours'])
df2

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city,zip_code
19587,27804-248768,JP,LS,"[{'dayName': 'Today', 'hours': '9:00 AM to 11:...",kyoto-okazaki-tsutaya-books-13-okazaki-saishoj...,35.013968,135.780994,13 Okazaki-saishojicho Sakyo-ku,Kyoto,606-8342
20157,1838-139192,JP,CO,"[{'dayName': 'Today', 'hours': 'Closed', 'open...",tsukuba-eki-2-128-azuma-tsukuba-08-305-0031-jp,36.082725,140.111313,2-128 Azuma,Tsukuba,305-0031
20356,53555-281731,JP,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",sendai-dainohara-1-8-7-dainohara-aoba-ku-senda...,38.283317,140.872625,1-8-7 Dainohara Aoba-ku,Sendai,981-0911
22216,1840-139885,JP,CO,"[{'dayName': 'Today', 'hours': 'Closed', 'open...",shinkamagaya-3-1-5-shinkamagaya-kamagaya-12-27...,35.774839,140.001106,3-1-5 Shinkamagaya,Kamagaya,273-0107
22856,1841-139924,JP,CO,"[{'dayName': 'Today', 'hours': '8:00 AM to 9:0...",ginza-five-5-1-saki-ginza-chuo-ku-13-104-0061-jp,35.672770,139.762233,5-1saki Ginza,Chuo-ku,104-0061

In [47]:
df2['open_hours'][19587]

"[{'dayName': 'Today', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Tomorrow', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Thursday', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Friday', 'hours': '9:00 AM to 12:00 AM', 'open': True, 'holiday': ''}, {'dayName': 'Saturday', 'hours': '9:00 AM to 12:00 AM', 'open': True, 'holiday': ''}, {'dayName': 'Sunday', 'hours': '9:00 AM to 12:00 AM', 'open': True, 'holiday': ''}, {'dayName': 'Monday', 'hours': '9:00 AM to 11:00 PM', 'open': True, 'holiday': ''}]"

In [48]:
df2['open_hours'][20157]

"[{'dayName': 'Today', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Tomorrow', 'hours': '6:00 AM to 9:00 PM', 'open': True, 'holiday': ''}, {'dayName': 'Thursday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Friday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Saturday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Sunday', 'hours': 'Closed', 'open': False, 'holiday': ''}, {'dayName': 'Monday', 'hours': 'Closed', 'open': False, 'holiday': ''}]"

In [49]:
sb21["open_hours"].fillna("Unknown", inplace = True)
sb21

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city,zip_code
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong,NaN
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong,NaN
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638",Kowloon,NaN
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,香港,NaN
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong,NaN
...,...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",Hattiesburg,39406
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,Ada,74820
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",Waycross,31501
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,Waycross,315011949
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,Hartsville,29550

In [51]:
percent_missing = sb21.isnull().sum() * 100 / len(sb21)
percent_missing

store_number      0.000000
country           0.000000
ownership_type    0.000000
open_hours        0.000000
slug              0.000000
latitude          0.000000
longitude         0.000000
address           0.003535
city              0.003535
zip_code          2.831489
dtype: float64

In [53]:
#gonna drop the zip_code column for now, just don't think it'll be needed

sb21['city'].nunique()    #number of cities that starbucks is in

5457

In [58]:
sb21 = sb21.drop(['zip_code'], axis=1)

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638",Kowloon
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,香港
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong
...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",Hattiesburg
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,Ada
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",Waycross
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,Waycross
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,Hartsville

In [59]:
percent_missing = sb21.isnull().sum() * 100 / len(sb21)
percent_missing

store_number      0.000000
country           0.000000
ownership_type    0.000000
open_hours        0.000000
slug              0.000000
latitude          0.000000
longitude         0.000000
address           0.003535
city              0.003535
dtype: float64

In [67]:
sb21[sb21['city'].isna()]     #it's the same row, let's just fill it with "Unknown"

sb21['city'] = sb21['city'].fillna('Unknown')

In [65]:
sb21['address'] = sb21['address'].fillna('Unknown')

In [66]:
percent_missing = sb21.isnull().sum() * 100 / len(sb21)
percent_missing     #no more NaNs!

store_number      0.0
country           0.0
ownership_type    0.0
open_hours        0.0
slug              0.0
latitude          0.0
longitude         0.0
address           0.0
city              0.0
dtype: float64

In [70]:
sb21['ownership_type'].value_counts()   What do these mean?

CO= Company Operated
FR= Franchise?
JV= Joint venture? 
LS= Licensed (other site where the Starbucks is not a stand-alone building, bookstore, airport, grocery store)

Company Owned    11932
Licensed          9375
Joint Venture     3976
Franchise          317

CO    14141
LS    12106
JV     1712
FR      330
Name: ownership_type, dtype: int64

In [71]:
sb21[sb21['ownership_type']=='JV']

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city
462,53558-285766,CZ,JV,"[{'dayName': 'Today', 'hours': '10:00 AM to 9:...",freeport-hate-hate-196-chvalovice-jm-669-02-cz,48.762737,16.062601,Hate 196,Chvalovice
16278,9195-152604,KR,JV,"[{'dayName': 'Today', 'hours': '10:30 AM to 11...",대전세이점-1-16-세이백화점-5-층-대전-30-301-710-kr,36.320472,127.408522,1-16 세이백화점 5층,대전
16279,18579-192625,KR,JV,Unknown,songdo-central-park-23-4-songdodong-yeonsugu-i...,36.320982,127.408969,"23-4, Songdodong, Yeonsugu",Incheon
16280,49017-266308,KR,JV,Unknown,daejeon-daesa-dt-248-296-daesa-dong-jung-gu-da...,36.318812,127.417550,"248-296, Daesa-dong, Jung-gu, Daejeon-si",Daejeon
16281,27281-246948,KR,JV,Unknown,daejeon-yucheon-dt-185-3-yucheon-dong-jung-gu-...,36.318380,127.398231,"185-3, Yucheon-dong, Jung-gu, Daejeon",Daejeon
...,...,...,...,...,...,...,...,...,...
27802,47892-252984,PL,JV,"[{'dayName': 'Today', 'hours': '9:00 AM to 10:...",posnania-2-ul-pleszewska-1-poznan-61-136-pozna...,52.396469,16.953955,"ul. Pleszewska 1, Poznan, 61-136",Poznan
27803,47893-245524,PL,JV,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",posnania-u-l-pleszewska-1-poznan-wp-61-136-pl,52.396088,16.954020,uL. Pleszewska 1,Poznan
27804,49808-256846,PL,JV,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kaponiera-ul-roosevelta-22-poznan-wp-60-809-pl,52.423557,16.926924,ul. Roosevelta 22,Poznan
27805,9190-180604,PL,JV,"[{'dayName': 'Today', 'hours': '9:00 AM to 9:0...",plaza-ul-druzbickiego-2-poznan-wp-61-693-pl,52.441454,16.919096,ul. Drużbickiego 2,Poznań
27806,48792-265284,PL,JV,"[{'dayName': 'Today', 'hours': '8:30 AM to 9:1...",king-cross-bukowska-156-poznan-wp-60-189-pl,52.410817,16.861675,Bukowska 156,Poznan

In [77]:
#for ownership type, bin JV and Franchise into "JV/FR"
sb21['ownership_type'] = np.where(sb21['ownership_type'] == 'JV', 'JV or FR', sb21['ownership_type'])
sb21['ownership_type'] = np.where(sb21['ownership_type'] == 'FR', 'JV or FR', sb21['ownership_type'])
sb21['ownership_type'].value_counts()

CO          14141
LS          12106
JV or FR     2042
Name: ownership_type, dtype: int64

In [78]:
sb21

,store_number,country,ownership_type,open_hours,slug,latitude,longitude,address,city
0,34638-85784,HK,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...",荷李活廣場-level-2-plaza-hollywood-diamond-hill-hon...,22.340700,114.201690,"Level 2, Plaza Hollywood, Diamond Hill,",Hong Kong
1,32141-267986,HK,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...",黃大仙中心南館-shop-no-g-3-b-ground-floor-wong-tai-si...,22.341694,114.194208,"Shop No. G3B, Ground Floor, Wong Tai Sin",Hong Kong
2,15035-155445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",mikiki-shop-no-g-01-ground-floor-mikiki-638-ko...,22.333520,114.196780,"Shop No. G01, Ground Floor, Mikiki 638",Kowloon
3,49646-268445,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...",九龍城廣場-九龍九龍城廣場-地下低層-lg-10-舖-香港-91-hk,22.331223,114.188143,九龍九龍城廣場 地下低層LG10舖,香港
4,31944-224544,HK,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...",國際展貿中心-shop-48-g-f-hk-intl-trade-exhibit-hong-...,22.323871,114.203796,"Shop 48, G/F,HK Int'l Trade & Exhibit",Hong Kong
...,...,...,...,...,...,...,...,...,...
28284,75260-79935,US,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...",u-of-s-ms-hattisburg-cook-library-118-college-...,31.327614,-89.334441,"118 College Drive, Cook Library",Hattiesburg
28285,61780-293957,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...",lonnie-abbott-blvd-1600-n-mississippi-ave-ada-...,34.790263,-96.669448,1600 N Mississippi Ave,Ada
28286,62119-295832,US,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...",memorial-dr-palmetto-dr-1908-memorial-dr-waycr...,31.202952,-82.333597,"1908 Memorial Dr.,",Waycross
28287,79384-104222,US,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...",kroger-waycross-439-1606-memorial-dr-waycross-...,31.206910,-82.339212,1606 Memorial Dr.,Waycross
28288,60583-293077,US,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...",4th-and-westfield-st-181-westfield-st-hartsvil...,34.361681,-80.063447,181 Westfield St,Hartsville

In [79]:
sb21_new = sb21[["store_number","city","country","latitude", "longitude", "ownership_type", "open_hours"]]
sb21_new

,store_number,city,country,latitude,longitude,ownership_type,open_hours
0,34638-85784,Hong Kong,HK,22.340700,114.201690,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:..."
1,32141-267986,Hong Kong,HK,22.341694,114.194208,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:..."
2,15035-155445,Kowloon,HK,22.333520,114.196780,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:..."
3,49646-268445,香港,HK,22.331223,114.188143,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:..."
4,31944-224544,Hong Kong,HK,22.323871,114.203796,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3..."
...,...,...,...,...,...,...,...
28284,75260-79935,Hattiesburg,US,31.327614,-89.334441,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3..."
28285,61780-293957,Ada,US,34.790263,-96.669448,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0..."
28286,62119-295832,Waycross,US,31.202952,-82.333597,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0..."
28287,79384-104222,Waycross,US,31.206910,-82.339212,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0..."
28288,60583-293077,Hartsville,US,34.361681,-80.063447,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:..."

In [183]:
#sb21_new['open_hours']=='Unknown'

#sb21_new[sb21_new['open_hours']=='Unknown']

#sb21_new['1975']

sb21_new. loc[[1975]]

,store_number,city,country,latitude,longitude,ownership_type,open_hours
1975,52015-280429,Hershey,US,40.284863,-76.652939,CO,"[{'dayName': 'Today', 'hours': '12:00 PM to 9:..."

In [159]:
sb21_new['open_hours'] = np.where(sb21_new['open_hours'] == 'Unknown', '23:23 AM', sb21_new['open_hours'])

/var/folders/bp/sgnz3tn51yl4n6c311dg4qwh0000gn/T/ipykernel_8305/992088893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sb21_new['open_hours'] = np.where(sb21_new['open_hours'] == 'Unknown', '23:23 AM', sb21_new['open_hours'])

In [160]:
sb21_new['open_hours'].head(20)

0     [{'dayName': 'Today', 'hours': '8:30 AM to 10:...
1     [{'dayName': 'Today', 'hours': '7:30 AM to 10:...
2     [{'dayName': 'Today', 'hours': '8:00 AM to 10:...
3     [{'dayName': 'Today', 'hours': '8:00 AM to 10:...
4     [{'dayName': 'Today', 'hours': '8:00 AM to 8:3...
5     [{'dayName': 'Today', 'hours': '8:00 AM to 9:0...
6     [{'dayName': 'Today', 'hours': '7:00 AM to 10:...
7     [{'dayName': 'Today', 'hours': '7:30 AM to 7:0...
8     [{'dayName': 'Today', 'hours': '8:30 AM to 9:0...
9     [{'dayName': 'Today', 'hours': '7:00 AM to 10:...
10    [{'dayName': 'Today', 'hours': '7:30 AM to 8:0...
11    [{'dayName': 'Today', 'hours': '7:30 AM to 10:...
12    [{'dayName': 'Today', 'hours': '7:30 AM to 7:0...
13                                             23:23 AM
14    [{'dayName': 'Today', 'hours': '8:00 AM to 10:...
15    [{'dayName': 'Today', 'hours': '7:00 AM to 8:0...
16    [{'dayName': 'Today', 'hours': '7:30 AM to 10:...
17    [{'dayName': 'Today', 'hours': '8:00 AM to 10:...
18    [{'dayName': 'Today', 'hours': '8:00 AM to 12:...
19    [{'dayName': 'Today', 'hours': '8:30 AM to 10:...
Name: open_hours, dtype: object

In [161]:
sb21_new.to_csv('sb21_new.csv')   #new dataframe out of cleaned data

### Using regex to select the opening hours of each row


-Keep in mind: 18% of rows have been filled with "Unknown" where there were NaNs

-Will go back later to fill these with their literal "nearest neighbor"

In [ ]:

looking for 1 digit, : 2 digits (a space) and then AM 
    create a pattern as a string
pattern= regex string 
if add [0] re.findall

In [134]:
import re 
re.findall('AM', sb21_new.iloc[0]['open_hours'])[0]

#the first [1] is what will be iterated through (the index of the rows)
#for i = 0 to 28289, then put all those results in a list and assign that list to a new column

'AM'

In [132]:
re.findall('AM', sb21_new.iloc[0]['open_hours'])[0]
#this is showing, inside the sb21_new database, locate the first row, 
#within that row, the column "open_hours",
#within that row and column, the first part of the dictionary?

'AM'

In [189]:
re.findall('(0?[1-9]|1[0-2]):([0-5]\d)\s?', sb21_new.iloc[1975]['open_hours'])[0]  

#without the AM/PM, later found out this is necessary because some stores open 12pm/12am (24 hour)
# https://regexland.com/regex-time-am-pm/   used this site, thanks to Erin!

('12', '00')

In [188]:
re.findall('(0?[1-9]|1[0-2]):([0-5]\d)\s?(AM|PM)', sb21_new.iloc[1975]['open_hours'])[0]  
#with the AM/PM

('12', '00', 'PM')

In [ ]:
#next: iterate through each row using a FOR loop and select this information and put inside a list 
#then create a new column with this list called "opening_time"

In [184]:
list_hours=[]

for i in range(28289):
    time = re.findall('([0-2]?[1-9]|1[0-2]):([0-5]\d)\s?(AM|PM)', sb21_new.iloc[i]['open_hours'])[0]
    list_hours.append(time)

In [185]:
len(list_hours)

28289

In [186]:
list_hours

[('8', '30', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('8', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('8', '30', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('8', '30', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('7', '30', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '30', 'AM'),
 ('23', '23', 'AM'),
 ('6', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('9', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '30', 'AM'),
 ('9', '30', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('6', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('9', '30', 'AM'),
 ('7', '30', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('12', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('6', '30', 'AM'),
 ('12', '00', 'AM'),
 ('12', '00', 'AM'),
 ('12', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '30', 'AM'),
 ('12', '00', 'AM'),
 ('7', '00', 'AM'),
 ('12', '00', 'AM'),
 ('23', '23', 'AM'),
 ('12', '00', 'AM'),
 ('12', '00', 'AM'),
 ('23', '23', 'AM'),
 ('9', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('8', '30', 'AM'),
 ('12', '00', 'AM'),
 ('7', '00', 'AM'),
 ('8', '30', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('6', '30', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('12', '00', 'AM'),
 ('12', '00', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('9', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('12', '00', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '30', 'AM'),
 ('9', '00', 'AM'),
 ('6', '30', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('6', '00', 'AM'),
 ('7', '30', 'AM'),
 ('6', '30', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('12', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('6', '30', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('6', '30', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('5', '45', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '30', 'AM'),
 ('6', '00', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('6', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('12', '00', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('23', '23', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '30', 'AM'),
 ('23', '23', 'AM'),
 ('8', '30', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('8', '30', 'AM'),
 ('23', '23', 'AM'),
 ('9', '30', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '00', 'AM'),
 ('23', '23', 'AM'),
 ('6', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('8', '30', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('5', '30', 'AM'),
 ('8', '30', 'AM'),
 ('12', '00', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('10', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('6', '30', 'AM'),
 ('8', '00', 'AM'),
 ('6', '30', 'AM'),
 ('8', '30', 'AM'),
 ('10', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '30', 'AM'),
 ('10', '00', 'AM'),
 ('7', '30', 'AM'),
 ('10', '00', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('10', '00', 'AM'),
 ('6', '30', 'AM'),
 ('1', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('10', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('10', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('10', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('9', '00', 'AM'),
 ('10', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '30', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('8', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('9', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('8', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '30', 'AM'),
 ('6', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '15', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('5', '00', 'AM'),
 ('9', '00', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('10', '00', 'AM'),
 ('12', '00', 'AM'),
 ('5', '00', 'AM'),
 ('3', '30', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('10', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('23', '23', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '30', 'AM'),
 ('11', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '30', 'AM'),
 ('9', '00', 'AM'),
 ('8', '30', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('6', '30', 'AM'),
 ('10', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('8', '30', 'AM'),
 ('23', '23', 'AM'),
 ('10', '00', 'AM'),
 ('6', '30', 'AM'),
 ('23', '23', 'AM'),
 ('12', '00', 'AM'),
 ('7', '30', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('8', '30', 'AM'),
 ('9', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('6', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('6', '30', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('9', '00', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('23', '23', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('5', '00', 'AM'),
 ('5', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('5', '00', 'AM'),
 ('5', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '00', 'AM'),
 ('5', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '30', 'AM'),
 ('5', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('9', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '00', 'AM'),
 ('8', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '30', 'AM'),
 ('6', '00', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('9', '30', 'AM'),
 ('7', '00', 'AM'),
 ('9', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '30', 'AM'),
 ('8', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('8', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('8', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('8', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '30', 'AM'),
 ('6', '30', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('8', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('7', '30', 'AM'),
 ('5', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('9', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('23', '23', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('23', '23', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '30', 'AM'),
 ('9', '00', 'AM'),
 ('6', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('8', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('8', '00', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('5', '30', 'AM'),
 ('7', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '30', 'AM'),
 ('7', '30', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('8', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '00', 'AM'),
 ('5', '00', 'AM'),
 ('5', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('8', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('9', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '30', 'AM'),
 ('6', '30', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('7', '00', 'AM'),
 ('6', '00', 'AM'),
 ('5', '30', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '00', 'AM'),
 ('6', '30', 'AM'),

In [187]:
sb21_new['opening_time'] = list_hours
sb21_new

/var/folders/bp/sgnz3tn51yl4n6c311dg4qwh0000gn/T/ipykernel_8305/4141451630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sb21_new['opening_time'] = list_hours

,store_number,city,country,latitude,longitude,ownership_type,open_hours,opening_time
0,34638-85784,Hong Kong,HK,22.340700,114.201690,LS,"[{'dayName': 'Today', 'hours': '8:30 AM to 10:...","(8, 30, AM)"
1,32141-267986,Hong Kong,HK,22.341694,114.194208,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 10:...","(7, 30, AM)"
2,15035-155445,Kowloon,HK,22.333520,114.196780,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...","(8, 00, AM)"
3,49646-268445,香港,HK,22.331223,114.188143,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 10:...","(8, 00, AM)"
4,31944-224544,Hong Kong,HK,22.323871,114.203796,LS,"[{'dayName': 'Today', 'hours': '8:00 AM to 8:3...","(8, 00, AM)"
...,...,...,...,...,...,...,...,...
28284,75260-79935,Hattiesburg,US,31.327614,-89.334441,LS,"[{'dayName': 'Today', 'hours': '7:30 AM to 8:3...","(7, 30, AM)"
28285,61780-293957,Ada,US,34.790263,-96.669448,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 9:0...","(5, 30, AM)"
28286,62119-295832,Waycross,US,31.202952,-82.333597,CO,"[{'dayName': 'Today', 'hours': '6:00 AM to 8:0...","(6, 00, AM)"
28287,79384-104222,Waycross,US,31.206910,-82.339212,LS,"[{'dayName': 'Today', 'hours': '6:00 AM to 9:0...","(6, 00, AM)"
28288,60583-293077,Hartsville,US,34.361681,-80.063447,CO,"[{'dayName': 'Today', 'hours': '5:30 AM to 10:...","(5, 30, AM)"

In [190]:
sb21_hours_updated = sb21_new

sb21_hours_updated = sb21_hours_updated.drop("open_hours", axis=1, inplace=True)
sb21_hours_updated

/var/folders/bp/sgnz3tn51yl4n6c311dg4qwh0000gn/T/ipykernel_8305/2689524181.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sb21_hours_updated = sb21_hours_updated.drop("open_hours", axis=1, inplace=True)

In [193]:
sb21_open_updated = sb21_new
sb21_open_updated

,store_number,city,country,latitude,longitude,ownership_type,opening_time
0,34638-85784,Hong Kong,HK,22.340700,114.201690,LS,"(8, 30, AM)"
1,32141-267986,Hong Kong,HK,22.341694,114.194208,LS,"(7, 30, AM)"
2,15035-155445,Kowloon,HK,22.333520,114.196780,LS,"(8, 00, AM)"
3,49646-268445,香港,HK,22.331223,114.188143,LS,"(8, 00, AM)"
4,31944-224544,Hong Kong,HK,22.323871,114.203796,LS,"(8, 00, AM)"
...,...,...,...,...,...,...,...
28284,75260-79935,Hattiesburg,US,31.327614,-89.334441,LS,"(7, 30, AM)"
28285,61780-293957,Ada,US,34.790263,-96.669448,CO,"(5, 30, AM)"
28286,62119-295832,Waycross,US,31.202952,-82.333597,CO,"(6, 00, AM)"
28287,79384-104222,Waycross,US,31.206910,-82.339212,LS,"(6, 00, AM)"
28288,60583-293077,Hartsville,US,34.361681,-80.063447,CO,"(5, 30, AM)"

### Next want to fix the format of the opening_time values

From (8,30, AM) to 8:30 AM

In [195]:
sb21_open_updated = sb21_open_updated.replace('(','').replace(')','') 
sb21_open_updated

#this doesn't seem to do anything
#come back to this later...

,store_number,city,country,latitude,longitude,ownership_type,opening_time
0,34638-85784,Hong Kong,HK,22.340700,114.201690,LS,"(8, 30, AM)"
1,32141-267986,Hong Kong,HK,22.341694,114.194208,LS,"(7, 30, AM)"
2,15035-155445,Kowloon,HK,22.333520,114.196780,LS,"(8, 00, AM)"
3,49646-268445,香港,HK,22.331223,114.188143,LS,"(8, 00, AM)"
4,31944-224544,Hong Kong,HK,22.323871,114.203796,LS,"(8, 00, AM)"
...,...,...,...,...,...,...,...
28284,75260-79935,Hattiesburg,US,31.327614,-89.334441,LS,"(7, 30, AM)"
28285,61780-293957,Ada,US,34.790263,-96.669448,CO,"(5, 30, AM)"
28286,62119-295832,Waycross,US,31.202952,-82.333597,CO,"(6, 00, AM)"
28287,79384-104222,Waycross,US,31.206910,-82.339212,LS,"(6, 00, AM)"
28288,60583-293077,Hartsville,US,34.361681,-80.063447,CO,"(5, 30, AM)"

In [196]:
sb21_open_updated['opening_time'].dtypes

dtype('O')

In [197]:
sb21_open_updated.to_csv('sb21_open_updated.csv')

In [199]:
sb21_open_updated['opening_time'].value_counts()

(23, 23, AM)    5085
(6, 00, AM)     4686
(5, 00, AM)     4183
(7, 00, AM)     3422
(5, 30, AM)     2478
(8, 00, AM)     2424
(4, 30, AM)     1575
(7, 30, AM)     1413
(6, 30, AM)      981
(10, 00, AM)     482
(9, 00, AM)      385
(8, 30, AM)      266
(4, 00, AM)      238
(12, 00, AM)     162
(9, 30, AM)      124
(11, 00, AM)      86
(10, 30, AM)      51
(3, 30, AM)       41
(12, 00, PM)      29
(7, 15, AM)       26
(6, 45, AM)       25
(8, 15, AM)       16
(6, 15, AM)       15
(7, 45, AM)       14
(4, 45, AM)       12
(11, 30, AM)       7
(5, 45, AM)        6
(12, 30, PM)       6
(8, 45, AM)        5
(3, 00, AM)        5
(4, 15, AM)        5
(2, 00, PM)        5
(9, 15, AM)        4
(1, 00, PM)        3
(5, 15, AM)        3
(12, 45, PM)       2
(4, 00, PM)        2
(9, 45, AM)        2
(2, 00, AM)        2
(1, 30, PM)        2
(10, 15, AM)       2
(1, 00, AM)        2
(2, 30, PM)        2
(5, 00, PM)        1
(11, 45, AM)       1
(11, 15, AM)       1
(10, 30, PM)       1
(3, 00, PM)        1
Name: opening_time, dtype: int64

In [ ]:
def get_distance_from_lat_lon(lat1, lon1, lat2, lon2):
    import math
    from lat_lon_parser import parse
    R = 6373.0                              # radius of the Earth
    lat1r = math.radians(parse(str(lat1)))  # coordinates Home
    lon1r = math.radians(parse(str(lon1)))
    lat2r = math.radians(parse(str(lat2))) # coordinates Sidney Opera House
    lon2r = math.radians(parse(str(lon2)))
    dlon = lon2r - lon1r                   # difference in coordinates
    dlat = lat2r - lat1r
    a = math.sin(dlat / 2)**2 + math.cos(lat1r) * math.cos(lat2r) * math.sin(dlon / 2)**2 # Haversine formula
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c
    return distance
get_distance_from_lat_lon(52.168413,4.529004,"33°51\'37.2\"S","151°12\'54.5\"E" )
print(distance)

In [201]:
sb21_open_updated[sb21_open_updated['city']=='Gambrills']

,store_number,city,country,latitude,longitude,ownership_type,opening_time
4109,16892-169164,Gambrills,US,39.039982,-76.678298,LS,"(8, 00, AM)"
4110,17244-162784,Gambrills,US,39.033601,-76.682716,CO,"(5, 00, AM)"
4111,74154-28307,Gambrills,US,39.040269,-76.680111,LS,"(5, 00, AM)"

In [ ]:
Latitude and longitude of Starbucks inside Target (not shown in dataframe?)
latitude: 39.034646, 
longitude: -76.683739